@model IEnumerable<TPTodoList.Models.TodoList>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Form">Nouvelle Tâche</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tâche
            </th>
            <th>
                État
            </th>
            <th>
				Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Task)
            </td>
            <td>
				@if (item.IsComplete == false)
				{
					<span style="color: blue">En cours</span>
				}
				else
				{
                    <span style="color: grey">Terminée</span>
				}
            </td>
            <td>
                @if (item.IsComplete == false)
                {
                    <a asp-action="MarkComplete" asp-route-id="@item.Id" style="text-decoration: none; color: green">Terminée</a>
                    <span> | </span>
                }
                    <a asp-action="DeleteTask" asp-route-id="@item.Id" style="text-decoration: none; color: red">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @if (ViewBag.CurrentPage > 1)
    {
            <a asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage - 1)" asp-route-pageSize="@ViewBag.PageSize">Précédent</a>
    }
    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
            <a asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)" asp-route-pageSize="@ViewBag.PageSize">Suivant</a>
    }
</div>
